@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .wrapper {
        @apply p-4 sm:p-5 w-full
    }
}

/*noinspection CssInvalidPropertyValue*/
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
    color: rgb(0, 0, 0, 90%);
    background-color: white;
    width: 100vw;
    max-width: calc(100vw - (100vw - 100%));
    scrollbar-gutter: stable;
}

/*.peachtree {*/
/*    background-color: rgb(101, 163, 13);*/
/*    background-image: radial-gradient(at 34% 4%, rgb(255, 255, 255) 0, transparent 97%), radial-gradient(at 15% 17%, rgb(214, 211, 209) 0, transparent 85%), radial-gradient(at 68% 99%, rgb(254, 215, 170) 0, transparent 84%), radial-gradient(at 30% 37%, rgb(162, 28, 175) 0, transparent 77%), radial-gradient(at 3% 72%, rgb(219, 39, 119) 0, transparent 63%), radial-gradient(at 99% 49%, rgb(67, 56, 202) 0, transparent 5%);*/
/*}*/
/*.bluish {*/

/*    background-color: rgb(254, 205, 211);*/
/*    background-image: radial-gradient(at 98% 22%, rgb(147, 197, 253) 0, transparent 50%), radial-gradient(at 86% 50%, rgb(252, 165, 165) 0, transparent 92%), radial-gradient(at 41% 40%, rgb(229, 229, 229) 0, transparent 71%), radial-gradient(at 1% 51%, rgb(224, 231, 255) 0, transparent 36%), radial-gradient(at 69% 43%, rgb(217, 249, 157) 0, transparent 84%), radial-gradient(at 90% 54%, rgb(224, 231, 255) 0, transparent 63%);*/

/*}*/
/*.redsky {*/
/*    @apply bg-red-300/50;*/
/*    !*background-color: rgb(186, 97, 97);*!*/
/*    background-image: radial-gradient(at 51% 63%, rgb(252, 165, 165) 0, transparent 68%), radial-gradient(at 28% 68%, rgb(187, 247, 208) 0, transparent 80%), radial-gradient(at 69% 69%, rgb(214, 211, 209) 0, transparent 25%), radial-gradient(at 88% 15%, rgb(186, 230, 253) 0, transparent 61%), radial-gradient(at 68% 18%, rgb(165, 180, 252) 0, transparent 41%);*/
/*}*/
/*.rose {*/
/*    background-color: rgb(220, 252, 231);*/
/*    background-image: radial-gradient(at 19% 27%, rgb(233, 213, 255) 0, transparent 95%), radial-gradient(at 78% 58%, rgb(245, 245, 245) 0, transparent 60%), radial-gradient(at 39% 100%, rgb(161, 98, 7) 0, transparent 48%), radial-gradient(at 3% 37%, rgb(127, 29, 29) 0, transparent 63%), radial-gradient(at 52% 35%, rgb(68, 64, 60) 0, transparent 11%), radial-gradient(at 61% 87%, rgb(248, 113, 113) 0, transparent 49%);*/
/*}*/

/*.pond {*/
/*    background-color: rgb(148, 163, 184);*/
/*    background-image: radial-gradient(at 76% 10%, rgba(14, 116, 144, 0.3) 0, transparent 80%), radial-gradient(at 11% 12%, rgb(255, 255, 255) 0, transparent 89%), radial-gradient(at 3% 99%, rgba(6, 95, 70, 0.57) 0, transparent 54%), radial-gradient(at 19% 100%, rgba(71, 85, 105, 0.52) 0, transparent 15%), radial-gradient(at 36% 95%, rgb(16, 185, 129) 0, transparent 14%), radial-gradient(at 14% 59%, rgb(17, 24, 39) 0, transparent 58%);*/
/*}*/
/*.lime {*/
/*    background-color: rgb(244, 244, 245);*/
/*    background-image: radial-gradient(at 60% 29%, rgb(216, 180, 254) 0, transparent 11%), radial-gradient(at 47% 4%, rgb(251, 207, 232) 0, transparent 82%), radial-gradient(at 59% 30%, rgb(63, 98, 18) 0, transparent 30%), radial-gradient(at 61% 35%, rgb(103, 232, 249) 0, transparent 52%), radial-gradient(at 65% 53%, rgb(229, 229, 229) 0, transparent 90%);*/
/*}*/
.bggrad {
    background-color: rgb(245, 245, 245);
    background-image: radial-gradient(at 28.94% 27.73%, rgb(255, 237, 213) 0, transparent 52%), radial-gradient(at 91.99% 33.00%, rgb(187, 247, 208) 0, transparent 47%), radial-gradient(at 49.41% 46.06%, rgb(224, 242, 254) 0, transparent 86%), radial-gradient(at 22.53% 73.83%, rgb(253, 224, 71) 0, transparent 50%), radial-gradient(at 93.54% 92.83%, rgb(253, 164, 175) 0, transparent 100%), radial-gradient(at 50% 0.15%, rgb(204, 251, 241) 0, transparent 100%);
}

.landing-top {
    /*background-color:hsla(30,100%,80%,0);*/
    position: absolute;
    z-index: -5;
    width: 100vw;
    height: 50vh;
    top: 0;
    background-image:
        radial-gradient(at 15% 15%,  hsl(170,0%,100%) 100px, transparent 60%), radial-gradient(at 95% 5%, hsl(0, 0%, 100%) 0px, transparent 70%);
}

.landing-body {
    position: absolute;
    z-index: -10;
    width: 100vw;
    height: 100%;
    top: 0;
    /*background-color:#ff99b4;*/
    opacity: 0.5;
    background-image:
    radial-gradient(at 38% 77%, hsla(240,82%,73%,1) 0px, transparent 50%),
    radial-gradient(at 78% 41%, hsla(353,70%,62%,1) 0px, transparent 50%),
    radial-gradient(at 76% 10%, hsla(54,68%,65%,1) 0px, transparent 50%),
    radial-gradient(at 14% 8%, hsla(226,85%,64%,1) 0px, transparent 50%),
    radial-gradient(at 79% 59%, hsla(185,75%,74%,1) 0px, transparent 50%),
    radial-gradient(at 50% 54%, hsla(43,94%,70%,1) 0px, transparent 50%),
    radial-gradient(at 3% 34%, hsla(313,97%,78%,1) 0px, transparent 50%);
}

.grainy {
    z-index: -10;
    inset: 0;
    position: absolute;
    background: url(https://grainy-gradients.vercel.app/noise.svg);
    opacity: 25%;
    filter: contrast(150%);
}

@layer components {

    /* center the blockquote in the page */
    .blockquote-wrapper {
       display: flex;
       /*height: 100vh;*/
       padding: 0 20px;
        background-color: #292a2b;
    }

    /* Blockquote main style */
    blockquote {
        @apply max-w-lg lg:max-w-4xl;
        position: relative;
        font-family: 'Barlow Condensed', sans-serif;
        /*max-width: 720px;*/
        margin: 80px auto;
        align-self: center;
    }

    /* Blockquote header */
    blockquote h1 {
        @apply
        relative
        font-cursive
        font-normal
        /*text-4xl leading-tight*/
        /*text-[2.2rem] */
        /*leading-[1.1]*/
        text-xl sm:text-4xl lg:text-5xl
        /*sm:text-[3rem] */
        /*sm:leading-[1.2]*/
        /*sm:text-5xl*/
        m-0
        ;
        color: #e74848;
        font-weight: normal;
        border: 2px solid #fff;
        border: solid 2px;
        border-radius:20px;
        padding: 25px;
    }

    /* Blockquote right double quotes */
    blockquote h1:after {
        /*@apply border-2 border-red-500;*/
        content:"";
        position: absolute;
        border: 2px solid #e74848;
        border-radius: 0 50px 0 0;
        width: 60px;
        height: 60px;
        bottom: -60px;
        left: 50px;
        border-bottom: none;
        border-left: none;
        z-index: 3;
    }

    blockquote h1:before {
        content:"";
        position: absolute;
        width: 80px;
        border: 6px solid #292a2b;
        bottom: -3px;
        left: 50px;
        z-index: 2;
    }

    blockquote h4 {
        @apply font-inter font-thin tracking-tight
        text-sm sm:text-lg lg:text-xl
        pt-4 md:pt-4 flex flex-col space-y-1 lg:space-y-0;
        position: relative;
        color: #ffffff;
        /*display: flex;*/
        /*font-size: 1.3rem;*/
        /*font-weight: 400;*/
        line-height: 1.2;
        margin: 0;
        /*padding-top: 10px;*/
        z-index: 1;
        margin-left:150px;
        padding-left:10px;
    }


    blockquote h4:first-letter {
      margin-left:-12px;
    }

}